* {
    padding: 0;
    margin: 1;
    box-sizing: border-box;   
}
body {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 200px;
    flex-direction: column;
    font-family: sans-serif;
}
.btnDow {
    display: flex;
    


}

.btnDow {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);

    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px 2px;
    margin: 0px 1px;
    border-radius: 1px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #11882b 0%, #69f770 51%, #96fc9e 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: .5s;
}
